/* all of these are overrides */
@font-face {
    font-family: "AtlasGrotesk-Regular";
    src: url("../../assets/fonts/AtlasGrotesk-Regular-Web.woff2");
    src: url("../../assets/fonts/AtlasGrotesk-Regular-Web.woff2") format("woff"),
}

@font-face {
    font-family: "AtlasGrotesk-Thin";
    src: url("../../assets/fonts/AtlasGrotesk-Thin-Web.woff2");
    src: url("../../assets/fonts/AtlasGrotesk-Thin-Web.woff2") format("woff"),
}

@font-face {
    font-family: "AtlasGrotesk-Bold";
    src: url("../../assets/fonts/AtlasGrotesk-Bold-Web.woff2");
    src: url("../../assets/fonts/AtlasGrotesk-Bold-Web.woff2") format("woff"),
}

html, body {
    height: 100%!important;
    min-height: 100%;
    position: relative;
    font-size: 1.0rem!important;
}

.main-heading {
    font-family: inherit!important;
    font-size: 50px!important;
}

.navbar, .card-header, .lead {
    font-weight: bold;
}

input,textarea, button {
    /* border-radius: 1rem!important; */
}

.btn {
    font-weight: bold!important;
}

.container {
    /*  */
    padding-right: 0px!important;
    padding-left: 0px!important;
    max-width: 100%!important;
}

.bs-component {
    padding-top: 100px!important;
    padding-right: 25px!important;
    padding-left: 25px!important;
}

.bs-inner-component {
    padding-right: 25px!important;
    padding-left: 25px!important;
}

.bs-component-inner .col-md-1, .bs-component .col-md-1 {
    vertical-align: middle!important;
    line-height: 50px!important;
}

.main-container {
    /* margin-top: 80px!important; */
    height: 100%;
}

.bg-findme {
    /* background-color: #7282FC!important;
    background-image: linear-gradient(90deg,#7282FC, #7934FB);
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.15) !important;
    transition: 1s; */

    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.15) !important;
    transition: 1s;

    background-blend-mode: overlay;
    background-color: initial!important;
    background-image: url(../images/nav-filler.png),linear-gradient(142deg,#3b2dcf 1%,#a91b78 100%)!important;
}

.navbar {
    background-color: transparent!important;
    transition: 1s;
}

.nav-item .nav-link {
    font-size: 16px;
}

.main-heading {
    /* padding-top: 70px; */
    text-align: center!important;
    font-size: 40px!important;
    font-weight: bold;
    /* padding-bottom: 50px; */
}

.sub-heading {
    font-size: 18px;
}

.col-md-12 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-md-12 .content {
    padding: 5px 3px;
}

.col-md-6, .col-md-4, .col-md-3, .col-md-9 {
    padding: 2px 3px!important;
}

.content span, .content p, .light {
    color: #7b8a8b;
}

.content small {
    text-align: justify;
}

.content .emphasis {
    color: black;
    font-weight: bold;
}

.form-group {
    padding: 2px 3px;
    margin-bottom: 0px!important;
}

.form-group label {
    font-size: 13px;
    margin-bottom: 2px!important;
}

label {
    font-weight: bold;
}

.d-flex > div {
    padding: 2px 3px;
}

/* custom card */
.card {
    /* border: 2px dotted #3498db5e!important; */
    overflow: hidden;
    border: 1px solid #3498DB!important;
}
.card-header {
    color: #3498DB!important;
    background-color:#ecf0f1!important;
    border-bottom: none!important;
    padding: 0.40rem 1rem!important;
    font-size: 18px!important;
    font-weight: bold;
}
.card-body {
    padding: 5px 10px 10px 10px!important;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

small.additional-info {
    font-size: 11px!important;
    color: rgba(44, 62, 80, 0.9)!important;
}

.quick-preview {
    font-size: 11px!important;
}

#toast-container > div {
    opacity:1;
}

.quickwork-bg {
    background-color: #6834f5!important;
    color: white!important;
}


.bounty {
    font-size: 13px!important;
}

.sub-header {
    font-weight: bold;
}
.sub-header, .silent {
    color: #95a5a6;
}

.about {
    white-space: pre-line;
}

.main-section {
    padding-top: 150px!important;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #002c58;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #4d5656bf)), url(../images/bg_final.jpg);
    background-image: linear-gradient(180deg, rgba(104, 52, 245, .8) 25%), url(../images/bg_final.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    height: 750px;
    color: #ffffff;
    box-sizing: border-box;
}

#contact {
    background-color: #2c2c35!important;
    /* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #4d5656bf)), url(https://thesweetsetup.com/wp-content/uploads/2014/04/20140421-20140421_8.jpg);
    background-image: linear-gradient(180deg, rgba(104, 52, 245, .8) 25%), url(https://thesweetsetup.com/wp-content/uploads/2014/04/20140421-20140421_8.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover; */
    background-repeat: repeat, no-repeat;
    color: #ffffff;
    box-sizing: border-box;
}

h2, .footer .text-uppercase {
    font-weight: bold!important;
}

/* LOGIN */
.login-left-panel {
    background-image: linear-gradient(129deg,#a91b78 0%,#392dd1 100%),url(../../assets/images/bg-texture.jpg)!important;
}

/* GENERAL */
.main-heading {
    display: none!important;
}